.btn {
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #e9e9e9;
    padding: 6px 20px;
    color: #696969;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #5C52AB;
    color: #ffffff;
    border: 1px solid #e9e9e9;
}

.modal-content {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur(8px);
    opacity: 1;
}

.fade {
    backdrop-filter: blur(3px);
}

.modal-body {
    padding: 2rem;
}

.modal-header, .modal-footer {
    padding: 1rem 2rem;
}
/* .register-form {
    padding: 30px;
} */

.table {
    color: #404040;
}

table thead tr {
    font-size: 18px;
}

.table-w-40 {
    width: 40%;
}
.table-w-10 {
    width: 10%;
}

.download-dump {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.download-dump h3 {
    font-weight: bold;
    color: #584ea8;
}